[user]
	name = V1rgul
	email = v1rgul.42@gmail.com
[push]
	default = simple
[core]
[alias]
	graph = !git --no-pager log --oneline --decorate --graph
	d = !~/.oh-my-zsh/custom/plugins/git_d/git_d
	l = !git log --oneline --decorate --graph
	s = status -s
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
[core]
	autocrlf = input
